.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 15px;
}
.container > .card img {
    max-width: 50%;
    height: 50%;
}
.search-hero {
	max-width: 500px;
	padding-bottom: 50px;
	margin:auto;
  }
  
  .form-control {
	box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
	font-family: FontAwesome;
  }
  